[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
pytest-mypy = "*"
django-stubs = "~=5.2"

[packages]
Django = "~=5.2"

[scripts]
test = "pytest --mypy src"

[requires]
python_version = "3.12"
